.header-box {
  width: 100%;
  list-style-type: none;
}

.header-logo {
  background-repeat: no-repeat;
  padding-left: 5%;
  align-items: center;
  height: 80px;
}
.header-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
}

.header-user p {
  margin-right: 1em;
  margin-left: 0.5em;
  margin-top: 1rem;
  /* color: white; */
}
.header-user-text span {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.header-alert {
  width: 40px;
}

.form-group {
  margin-bottom: -10px;
  margin-left: 10px;
}
