.sidebar-nav {
  background: #3791f8;
  height: 100vh;
  position: sticky;
  top: 0px;
  border-radius: 0px 20px 0px 0px;
}
.sidebar-nav-child {
  margin: 0 auto;
  text-decoration: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
