.sidebar-link {
  font-size: 1em;
  height: 60px;
  padding: 0 1.5625vw 0px 1.5625vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8bc7ff;
  list-style: none;
  text-decoration: none;
}

.sidebar-link:hover {
  background: #d9d9d9;
  border-left: 4px solid #8bc7ff;
  cursor: pointer;
}

.sidebar-label {
  margin-left: 0.6944vw;
}
