.toast-message-nourl {
  font-size: 1.1em;
  background-color: white;
  border: 1px solid #356599;
  font-weight: 700;
  width: 420px;
  right: 100px;
  color: #356599;
}
.toast-message-url {
  font-size: 1.1em;
  background-color: white;
  font-weight: 700;
  border: 1px solid #3791f8;
  width: 420px;
  right: 100px;
  color: #3791f8;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

/* Not needed with the cssTransition helper */

.animate {
  animation-duration: 800ms;
}
