.toast-message {
  font-size: 1.1em;
  background-color: white;
  /* background-color: #3791f8; */
  border: 1px solid #3791f8;
  /* background-color: #4993fa; */
  /* background-color: #ffce63; */
  /* background-color: #f89e37; */
  /* color: #fcdabe; */
  /* color: #f89e37; */
  font-weight: 700;
  /* color: #8bc7ff; */
  color: #3791f8;
  /* color: white; */
  width: 420px;
  right: 80px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

/* Not needed with the cssTransition helper */

.animate {
  animation-duration: 800ms;
}
